# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# LOCK FILE
package-lock.json
pnpm-lock.yaml

# production
/build

# ENVs
# .env.*

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
